*.zip
*.rar
migration-backup-*
**/migration-backup-*
migration-backup/


backup-temp/
tmp/
temp/

*.pem
*.key
.env
*.env
.env.*
config.json
**/credentials.*


.DS_Store
Thumbs.db


*.log
logs/


node_modules/


.bash_history
.zsh_history
*.history


git-projects-info/
ssh-backup/
app_essentials.txt
app_installed.txt
